.card-spotlight {
	background-color: #171717;
	width: 465px;
	height: 370px;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #aa7dce;
	box-shadow: 0 0 10px #aa7dce;
	padding: 2rem;
	overflow: hidden;
	--mouse-x: 50%;
	--mouse-y: 50%;
	--spotlight-color: #aa7dce;
}

.card-spotlight::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(
		circle at var(--mouse-x) var(--mouse-y),
		var(--spotlight-color),
		transparent 80%
	);
	opacity: 0;
	transition: opacity 0.5s ease;
	pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
	opacity: 0.6;
}
