.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-size: 3rem;
  margin-bottom: -0.8rem;
}

/* text-type__content {
} */

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
